# Performance & Security
NODE_ENV=development

PUBLIC_APP_URL=http://localhost:3000

# Database Configuration
DATABASE_URL=postgres://postgres:postgres@localhost:5432/earnmaze

# Admin User Configuration (Auto-created on startup if not exists)
ADMIN_EMAIL=admin@earnmaze.com
ADMIN_PASSWORD=admin
ADMIN_NAME=Admin User

# Turnstile Configuration
PUBLIC_TURNSTILE_SITE_KEY=1x00000000000000000000AA
TURNSTILE_SECRET_KEY=1x0000000000000000000000000000000AA

RABBITMQ_URL=amqp://guest:guest@localhost:5672/dev

UID_SECRET=your-secret-key-change-in-production

HASH_KEY=your-secret-key-change-in-production

JWT_SECRET=your-secret-key-change-in-production
